/**
 * This file is part of the Watson package.
 *
 * @author (c) Thomas Blum <thomas@addoff.de>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

:host, :root {
    --watson-color-50: rgb(249 249 250);
    --watson-color-100: rgb(234 236 240);
    --watson-color-200: rgb(218 222 228);
    --watson-color-300: rgb(201 207 215);
    --watson-color-400: rgb(179 187 196);
    --watson-color-500: rgb(154 160 169);
    --watson-color-600: rgb(127 132 139);
    --watson-color-700: rgb(104 109 114);
    --watson-color-800: rgb(86 89 94);
    --watson-color-900: rgb(61 63 67);
    --watson-color-950: rgb(37 39 41);

    --watson-border-radius: .25rem;
    --watson-spacing-0: 0;
    --watson-spacing-1: .25rem;
    --watson-spacing-2: .5rem;
    --watson-spacing-3: 1rem;
    --watson-spacing-4: 1.5rem;

    --watson-dialog-spacing-x: var(--watson-spacing-3);
    --watson-dialog-spacing-y: var(--watson-spacing-3);

    --watson-dialog-width: 30vw;
    --watson-dialog-input-background-color: var(--watson-color-200);
    --watson-dialog-panel-background-color: var(--watson-color-100);
    --watson-dialog-overlay-background-color: var(--watson-color-900);
    --watson-dialog-overlay-opacity: .35;
    --watson-dialog-z-index: 2000;

    --watson-list-group-header-padding-x: var(--watson-spacing-3);
    --watson-list-group-header-padding-y: var(--watson-spacing-2);
    --watson-list-group-header-background-color: var(--watson-color-200);
    --watson-list-group-header-border-width: 1px;
    --watson-list-group-header-border-color: var(--watson-color-300);
    --watson-list-group-header-color: var(--watson-color-900);

    --watson-list-group-item-padding-x: var(--watson-spacing-3);
    --watson-list-group-item-padding-y: var(--watson-spacing-2);
    --watson-list-group-item-background-color: var(--watson-color-50);
    --watson-list-group-item-border-width: 1px;
    --watson-list-group-item-border-color: var(--watson-color-300);
    --watson-list-group-item-color: var(--watson-color-300);

    --watson-selected-background-color: var(--watson-color-200);
}

body.rex-theme-dark {
    --watson-dialog-input-background-color: var(--watson-color-800);
    --watson-dialog-panel-background-color: var(--watson-color-900);

    --watson-list-group-header-background-color: var(--watson-color-800);
    --watson-list-group-header-border-color: var(--watson-color-700);
    --watson-list-group-header-color: var(--watson-color-100);
    --watson-list-group-item-background-color: var(--watson-color-950);
    --watson-list-group-item-border-color: var(--watson-color-700);
    --watson-list-group-item-color: var(--watson-color-700);

    --watson-selected-background-color: var(--watson-color-800);
}
@media (prefers-color-scheme: dark) {
    body:not(.rex-theme-light) {
        --watson-dialog-input-background-color: var(--watson-color-800);
        --watson-dialog-panel-background-color: var(--watson-color-900);

        --watson-list-group-header-background-color: var(--watson-color-800);
        --watson-list-group-header-border-color: var(--watson-color-700);
        --watson-list-group-header-color: var(--watson-color-100);
        --watson-list-group-item-background-color: var(--watson-color-950);
        --watson-list-group-item-border-color: var(--watson-color-700);
        --watson-list-group-item-color: var(--watson-color-700);

        --watson-selected-background-color: var(--watson-color-800);
    }
}

/* Main Navigation */
.watson-navigation-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -28px;
    margin-right: 3px;
    vertical-align: top;
}
.watson-navigation-icon svg {
    fill: currentColor;
}

.watson-btn {
    display: inline-block;
    background-color: transparent;
    border: 0;
    line-height: 0;
}
.rex-nav-top .watson-btn {
    margin-right: 10px;
    padding: 14px 14px;
    color: rgba(var(--color-a-lightest));
    transition: color .2s ease-in-out;
}
.rex-nav-top .watson-btn:hover {
    color: rgba(var(--color-a-darker));
}
body.rex-theme-dark .rex-nav-top .watson-btn {
    color: rgba(var(--color-a-lightest), .75);
}
body.rex-theme-dark .rex-nav-top .watson-btn:hover {
    color: rgba(var(--color-a-lightest));
}
@media (prefers-color-scheme: dark) {
    body:not(.rex-theme-light) .rex-nav-top .watson-btn {
        color: rgba(var(--color-a-lightest), .75);
    }
    body:not(.rex-theme-light) .rex-nav-top .watson-btn:hover {
        color: rgba(var(--color-a-lightest));
    }
}
.watson-btn svg {
    width: 22px;
    height: 22px;
    fill: currentColor;
    vertical-align: -0.15em;
}
@media (max-width: 991px) {
    .rex-nav-top .watson-btn {
        padding: 0;
    }
    .watson-btn svg {
        width: 18px;
    }
}
