/**
 * This file is part of the Watson package.
 *
 * @author (c) Thomas Blum <thomas@addoff.de>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/* Navgation */
.watson-icon-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -28px;
    margin-right: 3px;
    background-image: url(watson-logo.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    vertical-align: middle;
}
#watson-agent .watson-logo {
    position: absolute;
    right: -2px;
    top: 6px;
    width: 64px;
    height: 64px;
}
#watson-agent .watson-logo > svg .fill-1 {
    fill: #324050;
}
.watson-btn {
    margin-right: 20px;
    padding: 16px;
    background-image: url(watson-logo.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    font-size: 0;
}
#watson-agent {
    display: none;
    position: absolute;
    top: 150px;
    left: 50%;
    overflow: hidden;
    width: 960px;
    margin-left: -480px;
    padding: 10px;
    background-color: #e0e0e0;
    /*background-image: url(watson-logo.svg);
    background-position: 100% 10px;
    background-repeat: no-repeat;
    background-size: 64px 64px;*/
    border: 10px solid rgba(0, 0, 0, .5);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
    z-index: 1000;
/*
    background: #9ca5b2;
    -webkit-mask:  url(watson-logo.svg) no-repeat 50% 50%;
       -moz-mask: url(watson-logo.svg) no-repeat 50% 50%;
            mask: url(watson-logo.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
       -moz-mask-size: cover;
            mask-size: cover;
*/
}

#watson-agent form {
    margin-right: 60px;
}
#watson-agent input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    background-color: #d0d0d0;
    border: 0;
    font-size: 36px;
}
#watson-agent-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 900;
}



.watson-value {
    position: relative;
    display: block;
    padding: 13px 5px 12px 5px;
    font-size: 14px;
    line-height: 1.2;
}
.watson-value em {
    display: none;
    font-size: 85%;
    font-style: normal;
    font-weight: 400;
}
.watson-value em.watson-value-suffix {
    margin-left: 5px;
    display: inline-block;
}
.watson-value em.watson-description {
    display: block;
    padding-top: 5px;
    color: #a0a0a0;
}
.watson-value.watson-has-description {
    padding-top: 5px;
    padding-bottom: 5px;
}
.watson-value.watson-has-icon {
    padding-left: 30px;
}
.watson-value.watson-no-results {
    background-color: #F0F0F0;
}


.watson-result[data-legend]:not([data-legend=""]):before {
    content: attr(data-legend);
    display: block;
    margin: 0 -10px;
    padding: 2px 10px;
    background: #e8e8e8;
    font-size: 85%;
    font-weight: 700;
}


.watson-icon {
    display: none;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.watson-value.watson-has-icon .watson-icon {
    display: inline-block;
    float: left;
    margin-left: -30px;
    margin-top: 3px;
}
.watson-icon-article:before {
    content: '\f0f6';
}
.watson-icon-category:before {
    content: '\f07b';
}
.watson-icon-media:before {
    content: '\f03e';
}
.watson-icon-module:before {
    content: '\f1c0';
}
.watson-icon-template:before {
    content: '\f1ea';
}
.watson-icon-wildcard:before {
    content: '\f021';
}
.watson-icon-yform:before {
    content: '\f259';
}




.twitter-typeahead {
    width: 100%;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.twitter-typeahead .tt-hint,
.twitter-typeahead .tt-input {
    max-height: 60px;
}

#watson-agent .twitter-typeahead {
    display: block !important;
}
#watson-agent .tt-menu {
    position: relative !important;
    width: 460px;
    height: 480px;
    margin: 10px 0 -10px -10px;
    background-color: #F0F0F0;
    overflow-y: scroll;
    overflow-x: hidden;
}
#watson-agent .tt-menu .tt-dataset {
    padding: 10px;
}

.watson-quick-look-frame {
    display: none;
    position: absolute;
    top: 70px;
    left: 450px;
    width: 480px;
    height: 480px;
    overflow: hidden;
    z-index: 1100;
    background-color: #F0F0F0;
}
.watson-quick-look-frame iframe {
    width: 1200px;
    height: 800px;
    border: none;
    -moz-transform: scale(0.4);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.4);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.4);
    -webkit-transform-origin: 0 0;
    transform: scale(0.4);
    transform-origin: 0 0;
}

.tt-suggestion {
    /*position: relative; */
    display: block;
    padding: 0 10px;
    border-bottom: 1px solid #E0E0E0;
    vertical-align: middle;
}
.tt-suggestion.tt-is-under-cursor,
.tt-suggestion.tt-cursor {
    background-color: #E0E0E0;
    /* background-image: url(enter.png); */
    background-position: 520px 50%;
    background-size: 32px 32px;
    color: #000;
}

.tt-suggestion.tt-is-under-cursor a,
.tt-suggestion.tt-cursor a {
    color: #000;
}

.tt-suggestion p {
    margin: 0 0 0 600px;
    font-size: 0;
    line-height: 0;
}

#watson-console {
    display: none;
    position: fixed;
    left: 972px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    /*
    width: 964px;
    margin-left: 8px;
    background-color: #E0E0E0;
    background-position: 512px 50%;
    background-size: 64px 64px;
    border: 10px solid rgba(0, 0, 0, .5);
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    */
}
#watson-console .terminal-output,
#watson-console .terminal-output *,
#watson-console .cmd,
#watson-console .cmd * {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px !important;
    line-height: 1.5;
    height: auto;
    min-height: 0;
}

#watson-console table {
    width: 100%;
    margin: .5em 0;
}
#watson-console table th,
#watson-console table td {
    padding: 5px;
    background: #E9D763;
    border: 1px solid #000;
    color: #000;
}

#watson-console .documentation {
    margin: .5em 0;
    padding: 5px;
    background: #E9D763;
    color: #000;
}


#facebox {
    z-index: 1200;
}
#facebox .close {
    display: none !important;
}
.facebox_overlayBG {
    z-index: 1100;
}
