/*
 * Watson Icons
 *
 * Sherlock
 * http://www.iconfinder.com/icondetails/6249/128/agent_detective_hat_icon
 * License: GPL
 * Designer Alessandro Rei - http://www.kde-look.org/usermanager/search.php?username=mentalrey
 *
 *
 * Magnify
 * http://www.iconfinder.com/icondetails/103857/64/find_glass_magnifying_search_icon
 * License: Free for commercial use
 * Designer Iconleak - http://iconleak.com/product/free-windows-icon-atrous/
 *
 *
 * Enter
 * By Font Lucida Grande Bold
 *
 *
*/

#watson {
    background-image: url(logo.png);
}

.watson-value {
    display: block;
    /*margin-left: -600px; */
    padding: 5px;
    font-size: 18px;
    line-height: 1;
}
.watson-value em {
    display: none;
    padding-top: 2px;
    color: #a0a0a0;
    font-size: 13px;
    font-style: normal;
}
.watson-value.watson-description em {
    display: block;
}
.watson-value.watson-icon {
    padding-left: 40px;
    background-position: 0 50%;
}
.watson-value.watson-no-results {
    background-color: #F0F0F0;
}



#watson {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    padding: 10px;
    background-color: #E0E0E0;
    background-position: 520px 50%;
    background-size: 50px 50px;
    border: 10px solid rgba(0, 0, 0, .5);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1000;
}
#watson form {
    margin-right: 60px;
}
#watson input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    background-color: #D0D0D0;
    border: 0;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 36px;
}


.twitter-typeahead {
    width: 100%;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-dropdown-menu {
    width: 600px;
    margin: 10px 0 0 -20px;
    padding: 10px;
    background-color: #F0F0F0;
    border: 10px solid rgba(0, 0, 0, .5);
    border-top: 0;
    -webkit-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1000;
}

.tt-suggestion {
    display: block;
    padding: 0 50px 0 10px;
    border-bottom: 1px solid #E0E0E0;
    vertical-align: middle;
    overflow: hidden;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #E0E0E0;
    background-image: url(enter.png);
    background-position: 520px 50%;
    background-size: 32px 32px;
    color: #000;
}

.tt-suggestion.tt-is-under-cursor a {
    color: #000;
}

.tt-suggestion p {
    margin: 0 0 0 600px;
    font-size: 0;
    line-height: 0;
}


#facebox {
    z-index: 1200;
}
.facebox_overlayBG {
    z-index: 1100;
}